.gradle/
bin/
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Temporarily ignore due to <https://bugs.eclipse.org/bugs/show_bug.cgi?id=470946>
.settings/gradle.prefs
